$brand-primary: #444;
$brand-secondary: #888;
$black: #000;
$white: #fff;
$pad-reg: 3%;
$box-std: 40%;
$gutter-std: 5%;

html, body {
  width: 100%;
  min-height: 100%;
  background: $white;
  font-family: helvetica;
}

h1 {
  font-size: 5vw;
  text-align: center;
}

header, footer {
  color: $white;
  background: $black;
  padding: $pad-reg;
}

footer {
  position: absolute;
  top: 700px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3vw;
}
